body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#FFF8F1;
    text-align:center;
}

h1{
    color:#1F5E3B;
    font-size:48px;
    margin-top:80px;
}

p{
    color:#555;
    font-size:20px;
}

h2{
    color:#222;
    margin-top:30px;
}

button{
    background:#D4A017;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
    margin-top:20px;
}

.topbar{
background:#CBEAFF !important;
height:85px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
border-bottom:1px solid #b5dfff;
position:sticky;
top:0;
z-index:1000;
padding:0 20px;
height:80px;
}

.menu{
font-size:34px;
color:#4a2c2a;
}
.logo img{
height:75px;
width:200px;
object-fit:contain;
display:block;
}


.icons{
display:flex;
gap:35px;
font-size:30px;
color:#4a2c2a;
}

.hero{
  padding:60px 20px;
  text-align:center;
}

.hero h1{
  color:#1F5E3B;
  font-size:42px;
}

.hero p{
  font-size:20px;
  color:#555;
}

.slider-wrapper{
width:100%;
overflow:hidden;
}

.slider-track{
display:flex;
transition:transform 0.8s ease;
}

.slider-track img{
width:100%;
flex-shrink:0;
display:block;
border-radius:12px;
}

.slider-dots{
display:flex;
justify-content:center;
gap:10px;
margin-top:10px;
}

.dot{
width:10px;
height:10px;
border-radius:50%;
background:#bcdcff;
transition:0.4s;
}

.dot.active{
background:#2196F3;
width:24px;
border-radius:20px;
}

.tagline-box{
background:#ffffff;
padding:15px 10px;
text-align:center;
}

.tagline-box h2{
margin:0;
font-size:28px;
color:#D4A017;
font-weight:600;
}

.products-section{
background:#F5E8D5;
padding:40px 20px;
text-align:center;
margin-top:30px;
}

.products-section h2{
font-size:60px;
font-weight:800;
color:#9B0F47;
margin-bottom:15px;
}

.products-section p{
font-size:24px;
color:#333;
margin-bottom:35px;
}

.product-grid{
display:flex;
justify-content:center;
align-items:flex-start;
gap:10px;
flex-direction:row;
flex-wrap:nowrap;
padding:0 10px;
}

.product-card{
background:#ffffff;
border-radius:20px;
padding:12px;
width:31%;
height:240px;
display:flex;
align-items:center;
justify-content:center;
}

.product-card img{
width:90%;
height:190px;
object-fit:contain;
display:block;
margin:auto;
}

.view-products-btn{
display:block;
background:#8B1538;
color:white;
text-decoration:none;
padding:20px;
border-radius:50px;
font-size:28px;
font-weight:600;
margin-top:30px;
}


.side-menu{
position:fixed;
top:0;
left:-100%;
width:85%;
height:100%;
background:#F5E8D5;
z-index:9999;
transition:0.4s;
overflow-y:auto;
}

.side-menu.active{
left:0;
}

.menu-header{
display:flex;
justify-content:flex-start;
padding:20px 30px;
}

.close-btn{
font-size:42px;
color:#4a2033;
cursor:pointer;
line-height:1;
}

.side-menu a{
display:block;
padding:22px 30px;
font-size:22px;
text-decoration:none;
color:#4a1d2f;
}

.side-menu a:hover{
background:#EBDCC9;
}

.menu-bottom{
margin-top:40px;
border-top:1px solid #e0d2c0;
padding:25px 30px;
display:flex;
flex-direction:column;
align-items:flex-start;
gap:28px;
}

.social-icon{
width:42px;
height:42px;
object-fit:contain;
display:block;
}

.login-link{
display:flex;
align-items:center;
gap:15px;
font-size:20px;
color:#4a2033;
text-decoration:none;
}

.login-icon{
width:42px;
height:42px;
object-fit:contain;
display:block;
}
